<tr>
  <td>
    <%= index_for request_counter, @requests.current_page,
      Settings.request.per_page %>
  </td>
  <td><%= request.book_name %></td>
  <td><%= request.author %></td>
  <td><%= request.description %></td>
  <td><%= request.status %></td>
  <td>
    <% if request.processing? %>
      <%= link_to t("views.requests.index.cancel_button"), request_path(request),
        method: :delete, data: {confirm: t("views.requests.index.delete_confirm")},
        class:"btn btn-danger" %>
    <% end %>
  </td>
</tr>
