<%= form_for [@review, @comment], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :content, class: "form-control",
      id: "comment_content_#{@comment.review.id}",
      placeholder: t("views.comment_list.your_comment"), required: true %>
    <%= f.hidden_field :review_id, value: @comment.review.id, class: "form-control" %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <p>
    <%= gravatar_for comment.user, size = Settings.comment.size_avatar %>
    <%= link_to comment.user.name, user_path(comment.user) %>
    <span id ="comment_<%= comment.id %>">
      <%= comment.content %>
    </span>
  </p>
  <p class="timestamp">
    <%= t "views.comment_list.commented" %>
    <%= time_ago_in_words comment.created_at %>
    <%= t "views.comment_list.ago" %>
    <% if current_user.is_user? comment.user %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"), 
        edit_review_comment_path(comment.review, comment), remote: true %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"),
        review_comment_path(comment.review, comment), method: :delete,
        data: {confirm: t("views.comment_list.sure")}, remote: true %>
    <% end %>
  </p>
<% end %>
