<% @reviews.each do |review| %>
  <p>
    <%= gravatar_for review.user, size = 30 %>
    <%= link_to review.user.name, user_path(review.user) %>
  </p>
  <p class="timestamp">
    <span id="like_review_<%= review.id %>">
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-thumbs-up"), "#" %>
    </span>
    <%= link_to content_tag(:span, 
      "#{t("views.review_list.like")} (#{review.list_users_like_review.count})",
      id: "count_like_#{review.id}"), "#", 
      data: {toggle: "modal", target: "#modal_#{review.id}"} %>
    <span>&#8226</span>
    <%= link_to content_tag(:span,
      "#{t("views.review_list.comment")} (#{review.comments.count})",
      id: "comments_#{review.id}"),
      "#", remote: true %>
    <span>&#8226</span>
    <%= t "views.review_list.reviewed" %>
    <%= time_ago_in_words review.created_at %>
    <%= t "views.review_list.ago" %>
    <% if current_user.is_user? review.user %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"),
        edit_review_path(review), remote: true %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"), 
        review, method: :delete, data: {confirm: t("views.review_list.sure")},
        remote: true %>
    <% end %>
  </p>
  
  <h3 id ="review_<%= review.id %>"><%= simple_format review.content %></h3>
  <div id="comment_list_<%= review.id %>" class="comment_list">
  </div>
  <hr>
<% end %>
<%= will_paginate @reviews %>
